.col-1{
    margin: 10px;
    text-align: justify;
    order: 1;
    font-family: 'Nunito', sans-serif;
}

.col-2{
    margin: 10px;
    text-align: justify;
    order: 2;
    font-family: 'Nunito', sans-serif;
}

.col-3{
    margin: 10px;
    text-align: justify;
    order: 3;
    font-family: 'Nunito', sans-serif;
}

.footer-about{
    margin: 10px;
    text-align: justify;
    order: 1;
}

.footer-quick{
    margin: 10px;
    order: 2;
}

.footer-social{
    margin: 10px;
    order: 3;
}

.footer-contact{
    margin: 10px;
    text-align: justify;
    order: 4;
}

#strength-header{
    width: 98.5%;
    background: rgb(139, 139, 139);
    text-align: center;
    font-size: 40px;
    font-family: 'Tangerine', serif;
    border: none;
    padding: 10px;
    text-shadow: 4px 4px 4px rgb(147, 212, 156);
}