.col-1{
    width: 30%;
    order: 1;
    font-family: 'Nunito', sans-serif;
}

.col-2{
    width: 30%;
    order: 2;
    font-family: 'Nunito', sans-serif;
}

.col-3{
    width: 30%;
    order: 3;
    font-family: 'Nunito', sans-serif;
}

.footer-about{
    width: 30%;
    order: 1;
   
}

.footer-quick{
    width: 10%;
    order: 2;
    
}

.footer-social{
    width: 10%;
    order: 3;
    
}

.footer-contact{
    width: 30%;
    order: 4;
    
}

#strength-header{
    width: 100%;
    background: rgb(139, 139, 139);
    text-align: center;
    font-size: 40px;
    font-family: 'Tangerine', serif;
    border: none;
    padding: 10px;
    text-shadow: 4px 4px 4px rgb(147, 212, 156);
}