.col-1{
    width: 30%;
    order: 1;
    font-family: 'Nunito', sans-serif;
}

.col-2{
    width: 30%;
    order: 2;
    font-family: 'Nunito', sans-serif;
}

.col-3{
    width: 30%;
    order: 3;
    font-family: 'Nunito', sans-serif;
}

.footer-about{
    
    order: 1;
    width: 20%;
}

.footer-quick{
   
    order: 2;
    width: 15%;
}

.footer-social{
    
    order: 3;
    width: 10%;
}

.footer-contact{
   
    order: 4;
    width: 25%;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/* Header menu responsive */
@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}